main{
    background-color: #FFFFFF;
}
footer{
    background-color: #FFFFFF;
}
/* styling nav/header */
nav li{
    list-style: none;
}

.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
   
}
nav a{
    text-decoration: none;
   
}
.nav-title{
    font-size: 36px;
    font-weight: bold;
    color: #4E47FF;
}
nav ul{
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
}
.btn-primary{
    width: 130px;
    height: 45px;
    border-radius: 5px;
    background-color: #4E47FF;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
nav{
    margin: 0px 150px;
    
}

header{
    background-image: url(.../../Assets/Hero-bg.png);
    width: 100%;
    height: 698px;
    background-size: auto; 
    
}

.btn-primary:hover{
    background-color: #303030;
    transition-duration: 0.5s;
    font-size: 24px;
    font-weight: 600;
}
.header-heading-btn{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    width: 170px;
    height: 45px;
    color: white;
    border-radius: 5px;
    justify-content: center;
    margin: 0px auto;
    align-items: center;
    text-align: center;
    border: none;
}
.header-heading-btn:hover{
      background-color: #303030;
    transition-duration: 0.5s;
    font-size: 20px;
    font-weight: bold;
   
}
.heading{
   display: flex;
   align-items: center;
   justify-content: center;
 height: 100%;
}

.heading-h3{
    font-size: 65px;
    font-weight: bold;
}


/* styleing productive user section section */
.productive-user-section{
    width: 1040px;
    height: 606px;
    background-color: rgba(78, 71, 255, 0.1);
    display: inline-block;
   margin-top: 200px;
  margin-left: 200px;
  border-radius: 7px;
}
.productive-user-section-subtitle{
    display: flex;
    justify-content: space-around;
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.productive-user-section-title{
    display: flex;
    justify-content: center;
    font-size: 38px;
    font-weight: bold;
}
.productive-user-section-p{
    font-size: 20px;
    color: rgb(97, 93, 93);
}
/* styleing action-section */
.action-section{
    display: flex;
    margin-top: 90px;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    gap: 200px;
}
.action-section-title{
    font-weight: bold;
    font-size: 42px;
}
.action-section-subtitle{
    font-size: 24px;
    
}
.action-section-title-subtitle-btn{
    width: 400px;
}
.action-section-btn{
    width: 225px;
    height: 45px;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.action-section-btn:hover{
    background-color: #303030;
    transition-duration: 0.5s;
    font-size: 19px;
}
.action-section-img{
    border-radius: 48px;
}
/* styling user feedback section */
.user-feedback-section-all-image{
    display: flex;
    justify-content: space-around;
}
.start{
    text-align: center;
}
.user-feedback-section-image-icon-image{
    display: flex;
}
.users-feedback-img-p {
    display: flex;
    justify-content: space-between;
}
.users-section-p {
    display: block;
}
/* card/user feedback section styling */
.card-big-img{
    display: flex;
}
.icon-img-p-all {
    display: flex;
}
.icon-img {
    height: 80px;
    width: 65px;
    margin-right: 20px;
    border-radius: 50%;
}
.card-section-1{
   
    width: 400px;
    height: 230px;
    background-color: #FFFFFF;
   border-radius: 7px;
   border: 1px solid #F2EDED;
}
.user-feedback-section-card {
   display: flex; 
    width: auto;
    height: auto;
    justify-content: center;
margin-top: 100px;
gap: 20px;

}
.card-user-feedback-section {
    margin-top: 250px;
     
}
.start{
    font-size: 42px;
    font-weight: bold;

}
/* styling optional section */
.optional-section{
    height: 696px;
    width: 1140px;
    background-color: #FFFFFF;
    border: 1px solid #F2EDED;
justify-content: center;
margin-left: 180px;
margin-top: 137px;
border-radius: 14px;

}
.optional-section-title{
font-size: 50px;
font-weight: bold;

}
.optional-section-2{
    justify-content: center;
    text-align: center;
}

.optional-section-btn {
    justify-content: center;
    width: 195px;
    height: 45px;
    background-color: #4E47FF;
    border: 1px solid #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    border-radius: 5px;
    color: white;
    /* margin-left: 140px; */
}
.optional-section-img{
    margin-top: 20px;
    border-radius: 48px;
}
.optional-section-btn:hover{
    background-color: #303030;
    font-size: 18px;
    font-weight: bold;
    transition-duration: 0.5s;
}
/* styling the footer part */
.input-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 632px;
    background-color: #FFFFFF;
    justify-content: center;
    gap: 115px;
    margin-top: 92px;
}
.input-section-title{
    font-size: 97px;
    font-weight: bold;
}
.input-section-2{
    height: 490px;
    width: 497px;
}
.input-section-input{
width: 497px;
height: 70px;
border-radius: 10px;
border: 1px solid #D6DDED;
padding-top: 20px;
padding-left: 32px;

font-size: 20px;
}
.input-section-input-texarea{
width: 497px;
height: 135px;
border-radius: 10px;
border: 1px solid #D6DDED;
padding-top: 20px;
padding-left: 32px;

font-size: 20px;
}
.input-section-btn{
    width: 497px;
    height: 62px;
    border-radius: 10px;
    background-color: #4E47FF;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.input-section-btn:hover{
    background-color: #303030;
    height:65px;
    width: 500px;
    transition-duration: 0.5s;
}
.input-section-all-lable{
    font-size: 18px;
    font-weight: bold;
}
/* styling the last part */
.website-name-section-title{
    color: #4E47FF;
font-size: 100px;
font-weight: bold;
text-align: center;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;

}
.website-name-section-2{
    text-align: center;
   
}
.website-name-section-subtitle{
    color: #8987A1;
}
.website-name-section-ul  li{
    list-style: none;
}
.website-name-section-ul  li a{
    text-decoration: none;
     color: #8987A1;
    
}
.website-name-section-ul{
    display: flex;
    justify-content: center;
    justify-content: space-around;

}
.website-name-section{
    height: 221px;
width: 531px;
margin-left: 500px;
}